[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = KaramJava 
	name = karamveerhooda
[user]
	email = karamveer.hooda@gmail.com
	email = karamveer.hooda@gmail.com
